.site-content {
    -webkit-transition: -webkit-transform 1s, opacity 1s;
    -ms-transition: -o-transform 1s, opacity 1s;
    -o-transition: -o-transform 1s, opacity 1s;
    transition: transform 1s, opacity 1s;
}
.slide-out .site-content {
    -webkit-transform: translate3d( 0px, 150px, 0px );
    -ms-transform: translate3d( 0px, 150px,  0px );
    -o-transform: translate3d( 0px, 150px, 0px );
    transform: translate3d( 0px, 150px, 0px );
    opacity: 0;
}
.header-titlex
{
    -webkit-transform: translate3d( 0px, 150px, 0px );

}